@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.Header-section {
    height: 20px;
    width: 100%;
    background-color: #3E2A66;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Header-section p {
    margin: 0;
    font-size: 13px;
    color: white;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (max-width: 600px) {
    .Header-section {
        height: 50px;
        width: 100%;
        background-color: #3E2A66;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Header-section p {
        margin: 0;
        font-size: 20px;
        color: white;
        font-weight: 500;
    }
}


